.CodeMirror-lines{padding:4px 0}
div.CodeMirror-cursor{border-left:1px solid red}
div.CodeMirror-secondarycursor{border-left:1px solid silver}
div.CodeMirror-cursor{position:absolute;border-right:0;width:0}
div.CodeMirror-cursors{visibility:hidden;position:relative;z-index:3;width: 1px;pointer-events: none;}
.CodeMirror-lines{cursor:text;min-height:1px}
