<div id="test-editormd">
    <textarea style="display:none;"></textarea>
    <!--输入文本-->
    <div class="CodeMirror editormd">
        <!--输入控件-->
        <inTextarea></inTextarea>
        <!--滚动条-->
        <div class="CodeMirror-scroll">
            <div class="CodeMirror-sizer" style="margin-left: 39px; margin-bottom: -7px; border-right-width: 23px; min-height: 1042px; padding-right: 7px; padding-bottom: 0px;">
                <code-mirror></code-mirror>
            </div>
            <div class="CodeMirror-gutters" style="height: 1065px;">
                <div class="CodeMirror-gutter CodeMirror-linenumbers" style="width: 28px;"></div>
                <div class="CodeMirror-gutter CodeMirror-foldgutter"></div>
            </div>
        </div>
    </div>
</div>